/* 公共样式 */
/* 先去掉所有元素的内外边距 */
*{
  margin:0;
  padding:0;
}
/* 怀海字体字体大小 */
body{
  font:0.75rem "Microsoft YaHei";
}
.hh_comm_font{
  font-size:0.75rem;
}
.hh_comm_bg{
  background-color:#f6f6f6;
}
/* 去掉a标签的下划线 */
.hh_text_dec{
  text-decoration: none;
}
/* 怀海字体字体的颜色 */
.hh_font_color{
  color:#999999;
}
/* 怀海红 */
.hh_red{
  color:#cc2e36;
}
/* 定义引用头和低的样式 */
.huaihai_comm_header,.huaihai_comm_footer{
  width:100%;
}
.huaihai_comm_header{
  height:181px;
}
.huaihai_comm_footer{
  height:250px;
}
a{
  text-decoration: none;
}
ul>li{
  list-style: none;
}
ul::before{
  content:"";
  display: table;
}
ul::after{
  content:"";
  display: block;
  clear: both;
}
.clearboth::before{
  content:"";
  display: table;
}
.clearboth::after{
  content: "";
  display: block;
  clear: both;
}




