/* 首页样式 */
.index_main_section{
  width:100%;
  height:3000px;
  position: relative;
}
/*首页搜索框*/
.index_search{
  width:100%;
  height: 61px;
  background-color: #fff;
  border:1px solid #f6f6f6;
  position: fixed;
  top:0px;
  left:0px;
  display: none;
}
.index_search>div:first-child{
  width:100px;
  height:50px;
  background:url("../img/huaihai.png") no-repeat 0px 0px;
  background-size:60px 50px;
  position:absolute;
  left:390px;
}
.index_search_inpbut>input{
  width:500px;
  height:40px;
  padding:5px 10px;
  box-sizing: border-box;
  outline:none;
  border:2px solid #f6f6f6;
  border-right:none;
  border-bottom-left-radius: 5px;
  border-top-left-radius:5px;
  position:absolute;
  top:10px;
  left:460px;
}
.index_search_inpbut>button{
  width:52px;
  height:40px;
  outline: none;
  border:2px solid #f6f6f6;
  border-left:none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  left:500px;
  background:#fff url("../img/so-icon.png") no-repeat 16px 10px;
  position:absolute;
  top:10px;
  left:958px;
}
/* 右侧的黑色信息框 */
.index_right_msg{
  width:35px;
  height:730px;
  position:fixed;
  top:0;
  right:0;
  background-color:#000;
  padding-top:90px;
  padding-bottom: 10px;
}
  /* 上部分 */
.index_right_msg .right_msg_top>a{
  display: block;
  padding-left: 5px;
}
.index_right_msg .right_msg_top>a>em{
  display: inline-block;
  width:100%;
  height:22px;
  margin-top:9px;
  margin-bottom:20px;
  background: url("../img/sidebar-icon.png") no-repeat;
}
.index_right_msg .right_msg_top>a:nth-child(2)>em{
  background-position: 0px -30px;
}
.index_right_msg .right_msg_top>a:nth-child(3)>em{
  background-position: 0px -83px;
}
.index_right_msg .right_msg_top>a:nth-child(4)>em{
  background-position: 0px -56px;
}
.index_right_msg .right_msg_top>a:last-child>em{
  background: url("../img/phone.png") no-repeat;
  background-size: 18px 18px;
}
.index_right_msg .right_msg_top>a>div{
  display: none;
}
  /* 下边部分 */
.right_msg_bottom {
  margin-top:290px;
}
.index_right_msg .right_msg_bottom>a{
   display: block;
   padding-left: 5px;
  }
.index_right_msg .right_msg_bottom>a>div{
  width:100%;
  height:22px;
  margin-top: 20px;
  background: url("../img/sidebar-icon.png") no-repeat;
}
.index_right_msg .right_msg_bottom>a:first-child>div{
  background-position:0px -140px;
}
.index_right_msg .right_msg_bottom>a:last-child>div{
  background-position:0px -168px;
}
.index_right_msg .right_msg_bottom>a:hovar{
  background-color:#cc2e36;
}


