/* 首页样式 */
.index_main_section{
  width:100%;
  /* height:3000px; */
  position: relative;
  background:#f6f6f6;
}
/*首页搜索框*/
.index_search{
  width:100%;
  height: 61px;
  background-color: #fff;
  border:1px solid #f6f6f6;
  position: fixed;
  top:0px;
  left:0px;
  display: none;
}
.index_search>div:first-child{
  width:100px;
  height:50px;
  background:url("../img/huaihai.png") no-repeat 0px 0px;
  background-size:60px 50px;
  position:absolute;
  left:390px;
}
.index_search_inpbut>input{
  width:500px;
  height:40px;
  padding:5px 10px;
  box-sizing: border-box;
  outline:none;
  border:2px solid #f6f6f6;
  border-right:none;
  border-bottom-left-radius: 5px;
  border-top-left-radius:5px;
  position:absolute;
  top:10px;
  left:460px;
}
.index_search_inpbut>button{
  width:52px;
  height:40px;
  outline: none;
  border:2px solid #f6f6f6;
  border-left:none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  left:500px;
  background:#fff url("../img/so-icon.png") no-repeat 16px 10px;
  position:absolute;
  top:10px;
  left:958px;
}
/* 右侧的黑色信息框 */
.index_right_msg{
  /* width:35px; */
  width:320px;
  height:730px;
  position:fixed;
  top:0;
  right:0;
  background-color:#000;
  padding-top:90px;
  padding-bottom: 10px;
  z-index: 1000;
}
  /* 上部分 */
.index_right_msg .right_msg_top>a{
  display: block;
  margin-top:9px;
  margin-bottom:20px;
  padding: 5px;
  position: relative;
}
.index_right_msg .right_msg_top>a:hover{
  background-color: #cc2e36;
}
.index_right_msg .right_msg_top>a:first-child:hover em{
  background-position:  0px -185px;
}
.index_right_msg .right_msg_top>a>em{
  display: inline-block;
  width:100%;
  height:22px; 
  background: url("../img/sidebar-icon.png") no-repeat;
}
  /* 定位小图标 */
.index_right_msg .right_msg_top>a:first-child>em{
  background-position: 0px 6px;
}
.index_right_msg .right_msg_top>a:nth-child(2)>em{
  background-position: 0px -28px;
}
.index_right_msg .right_msg_top>a:nth-child(3)>em{
  background-position: 0px -80px;
}
.index_right_msg .right_msg_top>a:nth-child(4)>em{
  background-position: 0px -53px;
}
.index_right_msg .right_msg_top>a:last-child>em{
  background: url("../img/phone.png") no-repeat;
  background-size: 18px 18px;
}
  /* 滑块的样式 */
.index_right_msg .right_msg_top>a>div{
  width:68px;
  position: absolute;
  top:0px;
  right:-138px;
  background-color: #cc2e36;
  border-radius: 5px 0 0 5px;
  z-index:-1;
  line-height: 35px;
  color:#fff;
  font-size:0.75rem;
  text-align: center;
  /* transition-duration: 2s; */
}
.index_right_msg .right_msg_top>a:hover div{
  right:35px;
  background-color: #cc2e36;
  transition:all  0.5s linear;
 
}

  /* 下边部分 */
.right_msg_bottom {
  margin-top:350px;
}
.index_right_msg .right_msg_bottom>a{
   display: block;
   padding-left: 5px;
  }
.index_right_msg .right_msg_bottom>a>div{
  width:100%;
  height:22px;
  margin-top: 20px;
  background: url("../img/sidebar-icon.png") no-repeat;
}
  /* 小图标的定位 */
.index_right_msg .right_msg_bottom>a:first-child>div{
  background-position:0px -142px;
}
.index_right_msg .right_msg_bottom>a:last-child>div{
  background-position:0px -168px;
}
  /* 效果样式 */
.index_right_msg>.right_msg_bottom>a:last-child:hover{
  background-color:#cc2e36;
}
.index_right_msg>.right_msg_bottom>a:first-child{
  transition:all 0.5s linear ;
}
.index_right_msg>.right_msg_bottom>a:first-child:hover div{
  transform: scale(1.3);
}
  /* 购物车部分 */
  .index_right_msg .right_msg_cart{
    position: absolute;
    left: 35px;
    top:0px;
    background: #f6f6f6;
    width: 285px;
    /* width:50px; */
    /* height:50px; */
    height: 100%;
    overflow-y: auto;
    padding-bottom: 50px;
    box-sizing: border-box;
    font-size: 12px;
    color: #999;
    /* border:1px solid #f00; */
    /* z-index: 2000; */
  }
  /* 购物车车头部分 */
  .index_right_msg .right_msg_cart .cart_header{
    height: 30px;
  }
  .index_right_msg .right_msg_cart .cart_header .redcart{
    display: block;
    float: left;
    width: 35px;
    height:22px;
    margin-top:6px;
    background: url("../img/sidebar-icon.png") no-repeat;
    background-position: center 2px;
    font-style: normal;
  }
  .right_msg_cart .cart_header h3{
    display: block;
    float: left;
    color: #333;
    margin-top: 5px;
    font-size: 14px;
  }
  .right_msg_cart .cart_header .close{
    display: block;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    color: #999;
    font-size: 14px;
  }
  /* 动图 */
  .right_msg_cart .cart_gif{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -7px;
    display: none;
  }
  /* 购物车定单 */
      /* 无商品样式 */
  .right_msg_cart .cart_order_pro .no_pro{
    position: absolute;
    width: 100%;
    top: 40%;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    text-align: center;
    display: none;
  }
  .right_msg_cart .cart_order_pro .no_pro a{
    color:#cc3341;
  }
    /* 商品订单块 */
    .right_msg_cart .cart_order_pro .pro_order_boxs{
      width:100%;
      height:auto;
      box-sizing: border-box;
      padding:5px;
      /* border:1px solid #f00; */
      margin-top:5px;
      height:88vh;
    }
    /* 购物车头部框 */
    .cart_order_pro .pro_order_boxs .pro_order_header{
      display: block;
      height: 32px;
      line-height: 32px;
      background: #f3f3f3;
      border: 1px solid #e9e9e9;
      border-top: 0;
      position: relative;
    }
    .cart_order_pro .pro_order_boxs .pro_order_header .column{
      float: left;
    }












  /* 结算按钮组 */
  .right_msg_cart .cart_btns{
    display: block;
    clear: both;
    width: 285px;
    position: fixed;
    bottom: 0;
    /* right: -285px; */
    padding: 10px 0;
    background-color: #f6f6f6;
  }
  .right_msg_cart .cart_btns .cart_btns_left{
    display: block;
    float: left;
    width: 150px;
    text-align: left;
    padding-left: 5px;
  }
  .right_msg_cart .cart_btns .cart_btns_left .marmm,
  .right_msg_cart .cart_btns .cart_btns_left .pross{
    clear: both;
    width: 100%;
    display: block;
  }
  .right_msg_cart .cart_btns .cart_btns_left .marmm span,
  .right_msg_cart .cart_btns .cart_btns_left .pross span{
    color:#cc3341;
    font-weight: 700;
  }
  .right_msg_cart .cart_btns .salced{
    display: block;
    float: left;
    width: 110px;
    margin-left: 10px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 16px ;
    font-family: "华文行楷";
    background: #cc3341;
    border-radius: 5px;
  }
  .right_msg_cart .cart_btns .salced:active{
    background: #dfad78d9;
    color:#cc2e36;
  }

/* 首页轮播图部分 */
.index_top_carousel{
  width:100%;
  height:540px;
  background:#fff;
  position: relative;
}
/* 轮播图上部导航部分 */
.index_top_carousel .carousel_top_nav{
  width:1190px;
  height:40px;
  margin:0 auto;
  position: relative;
  line-height: 40px;
}
  /* 左侧商品分类 */
.index_top_carousel .carousel_top_nav .left{
    width:200px;
    border-bottom: 40px solid #cc3341;
    position: absolute;
  }
.index_top_carousel .carousel_top_nav .left>div{
    position: absolute;
    top:11px;
    left:60px;
    color:#fff;
    font-size: 16px;
    line-height: 20px;
  }
.index_top_carousel .carousel_top_nav .left>div>img{
    position: absolute;
    top:1.5px;
    left:-30px;
  }
  /* 中间导航部分 */
.index_top_carousel .carousel_top_nav .center{
    width:700px;
    margin-left:250px;
}
.index_top_carousel .carousel_top_nav .center>ul{
  list-style: none;
}
.index_top_carousel .carousel_top_nav .center>ul::before{
  content: "";
  display: table;
}
.index_top_carousel .carousel_top_nav .center>ul::after{
  content: "";
  display: block;
  clear: both;
}
.index_top_carousel .carousel_top_nav .center>ul li{
  float:left;
  margin-left:50px;
}
.index_top_carousel .carousel_top_nav .center>ul li>a{
  font-weight: 700;
  font-size: 14px;
  color:#000;
}
.index_top_carousel .carousel_top_nav .center>ul .active>a{
  color:#cc2e36;
}
.index_top_carousel .carousel_top_nav .center>ul li>a:active{
  color:#cc2e36;
}
  /*右侧购物车部分  */
.index_top_carousel .carousel_top_nav .right{
    position: absolute;
    width:200px;
    top:0px;
    right:0px;
}
.index_top_carousel .carousel_top_nav .right .cart>a{
  color:#cc2e36;
  float: left;
  background:url("../img/shopping_red.svg") left center no-repeat;
  margin-left:20px;
  padding-left:30px;
  vertical-align: text-bottom;
}
.index_top_carousel .carousel_top_nav .right .cart>a>span{
  display: inline-block;
  width:20px;
  height:20px;
  border-radius: 50%;
  margin-left:5px;
  line-height: 20px;
  background-color: #cc3341;
  color:#fff;
  text-align: center;
  font-size: 12px;
  transform: scale(0.8)
}
.index_top_carousel .carousel_top_nav .right .cart>a>span:hover{
  transform: scale(1.1);
  transition-duration:1s;
}
/* 轮播图部分 */
.index_top_carousel .carousel_back_sec{
  width:100%;
  height:500px;
  position: relative;
  z-index: 120;
}
  /* 图片盒子 */
.index_top_carousel .carousel_back_sec .pic_box{
  width:100%;
  height:500px;
}
.index_top_carousel .carousel_back_sec .pic_box ul{
  width:100%;
  height:500px;
  list-style: none;
  position: relative;
  overflow: hidden;
}
.index_top_carousel .carousel_back_sec .pic_box ul::before{
  content: "";
  display: table;
}
.index_top_carousel .carousel_back_sec .pic_box ul::after{
  content:"";
  display: block;
  clear:both;
}
.index_top_carousel .carousel_back_sec .pic_box ul>li>a{
  display: block;
  width:100%;
  height:500px;
  position: relative;
  background-size:cover;
}
.index_top_carousel .carousel_back_sec .pic_box ul>li{
  display: block;
  width:100%;
  height:500px;
  float: left;
  position: relative;
}
.index_top_carousel .carousel_back_sec .pic_box ul>li:first-child>a{
  background:url("../img/index/WNpsFk6sjh.jpg") center no-repeat;
}
.index_top_carousel .carousel_back_sec .pic_box ul>li:nth-child(2)>a{
  background:url("../img/index/wJkbSNJcem.jpg") center no-repeat;
}
.index_top_carousel .carousel_back_sec .pic_box ul>li:last-child>a{
  background:url("../img/index/MAie2DBDhd.jpg") center no-repeat;
}
  /* 指示符 */
.index_top_carousel .carousel_back_sec .pic_show{
  position: absolute;
  left:50%;
  bottom:28px;
  text-align: center;
  transform:translateX(-50%);
  border-radius:10px;
  padding:0 10px;
}
.index_top_carousel .carousel_back_sec .pic_show>a{
  display: inline-block;
  width:10px;
  height:10px;
  border-radius: 50%;
  background-color:rgba(255, 255, 255,1);
  margin-left:10px;
}
  /* 左右两边模块 */
.carousel_product_nav{
  width:1190px;
  height:500px;
  position:absolute;
  top:40px;
  left:0;
  right:0;
  margin:0 auto;
  overflow-y: hidden;
}
  /* 左边模块样式 */
.carousel_product_nav .sider_left{
  width:200px;
  height:500px;
  min-height:500px;
  position: relative;
  float:left;
  z-index: 121;
  background-color: rgba(0,0, 0, 0.9);
  padding:5px 0px;
}
.carousel_product_nav .sider_left .sider_left_list_main{
  width:200px;
  height:70px;
}
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list{
  width:100%;
  /* height:62px;  */
  clear: both;
  box-sizing: border-box;
  padding:12px 10px 0 20px;
}
  /* 小标题 */
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .title{
  line-height: 21px;
}
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .title a{
  display: inline-block;
  width:100%;
  overflow: hidden;
  color:#fff;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
  /* 关键词部分 */
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .list_hot{
  width:100%;
  height:23px;
  padding-bottom: 12px;
  overflow: hidden;
}
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .list_hot::before{
  content: "";
  display: table;
}
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .list_hot::after{
  content: "";
  display: block;
  clear:both;
}
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .list_hot li{
  float:left;
  margin-right:8px;
  line-height: 28px;
}
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .list_hot li a{
  color:#999;
}
  /* 隐藏部分 */
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .list_boder{
  width:219px;
  height:500px;
  background: #fff;
  padding:30px;
  position: absolute;
  top:0;
  left:200px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.5);
  display: none;
}
  /* 隐藏部分主体 */
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .list_boder .column{
  width:150px;
  overflow: hidden;
  float: left;
}
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .list_boder .column .list_images {
  width:140px;
  margin-bottom: 38px;
  float: left;
  text-align: center;
}
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .list_boder .column .list_images img{
  width:40px;
  height:40px;
  float: left;
  margin-right:10px;
}
.carousel_product_nav .sider_left .sider_left_list_main .sider_left_list .list_boder .column .list_images a{
  float: left;
  color:#333;
  line-height: 40px;
}
  /* 隐藏显示效果 */
.carousel_product_nav .sider_left .sider_left_list_main:hover{
  background-color: #333;
}
.carousel_product_nav .sider_left .sider_left_list_main:hover .sider_left_list .list_hot li a{
  color:#fff;
}
.carousel_product_nav .sider_left .sider_left_list_main:hover .list_boder{
  display: block;
}
  /* 右边模块样式 */
.carousel_product_nav .sider_right{
  width:200px;
  height:490px;
  min-height:500px;
  position: relative;
  float:right;
  z-index: 121;
  margin:5px 0px;
}
  /* 公告上部分内容 */
.carousel_product_nav .sider_right .right_top{
    width:100%;
    height:158px;
    padding:20px;
    box-sizing: border-box;
    background-color: #fff;
}
.carousel_product_nav .sider_right .right_top .right_top_one{
    width:100%;
    height:100%;
    overflow: hidden;
    position: relative;
}
.carousel_product_nav .sider_right .right_top .right_top_one .right_top_two{
  margin-right:15px;
}
.carousel_product_nav .sider_right .right_top .right_top_one .right_top_two p{
  color:#333;
  display: inline-block;
}
.carousel_product_nav .sider_right .right_top .right_top_one .right_top_two span{
  float:right;
}
.carousel_product_nav .sider_right .right_top .right_top_one .right_top_two span>a{
  color:#999;
}
.carousel_product_nav .sider_right .right_top .right_top_one .right_top_two ul{
  margin-top:5px;
}
.carousel_product_nav .sider_right .right_top .right_top_one .right_top_two ul::before{
  content: "";
  display: table;
}
.carousel_product_nav .sider_right .right_top .right_top_one .right_top_two ul li{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 8px;
}
.carousel_product_nav .sider_right .right_top .right_top_one .right_top_two ul li a{
  color:#666;
}
  /* 公告图片 */
.carousel_product_nav .sider_right .right_pic{
  width:200px;
  height:332px;
}
/* 类别导航区 */
.index_product_groub{
  width:1190px;
  height:auto;
  margin:0 auto;
  background:#f6f6f6;
  overflow: hidden;
  position: relative;
}
  /* 三款新特品 */
.index_product_groub .new_self_pro{
  margin:10px 0 7px;
  width:100%;
}
.index_product_groub .new_self_pro a{
  display: inline-block;
}
.index_product_groub .new_self_pro a img{
  width:386px;
  height:160px;
  margin-right:16px;
}
.index_product_groub .new_self_pro a:last-child img{
  margin-right:0px;
}
  /* 小轮播图 */
.index_product_groub .old_groub_pro{
    width:100%;
    height:110px;
    padding-top:20px;
    background-color:#fff;
    border-top:13px solid #f6f6f6;
    border-bottom: 13px solid #f6f6f6;
}
.index_product_groub .old_groub_pro .old_pro_title{
  width:245px;
  text-align: center;
  margin-top:17px;
  float: left;
}
.index_product_groub .old_groub_pro .old_pro_title h3{
  font-size:20px;
  margin-bottom: 5px;
  color:#333;
}
.index_product_groub .old_groub_pro .old_pro_title p{
  font-size: 12px;
}
  /* 小播的主体部分 */
.index_product_groub .old_groub_pro .old_pro_list{
  width:865px;
  float: left;
  position: relative;
}
  /* 箭头部分 */
.index_product_groub .old_groub_pro .old_pro_list .list_heads{
  position: absolute;
  top:26px;
  width:900px;
}
.index_product_groub .old_groub_pro .old_pro_list .list_heads .left{
  float: left;
}
.index_product_groub .old_groub_pro .old_pro_list .list_heads .right{
  float: right;
}
.index_product_groub .old_groub_pro .old_pro_list .list_heads a img{
  width:20px;
}
  /* 商标部分 */
.index_product_groub .old_groub_pro .old_pro_list .list_border{
  width:815px;
  height:117px;
  overflow: hidden;
  position: relative;
  margin:-15px 50px 0 ;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul{
  position: absolute;
  left:0px;
  height:117px;
  overflow: hidden;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li{
  float: left;
  padding:0 24px;
  box-sizing: border-box;
  margin:9px 0 15px 0;
  text-align: center;
  border-left:1px solid #eee;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li:first-child{
  border-left:none;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li a{
  display:inline-block;
  width:80px;
  height:80px;
  overflow: hidden;
  background: url("../img/index/iPHwTQSKNa.jpg") no-repeat center;
  background-size: cover;
}
  /* 换背景图 */
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li:nth-child(2) a{
  background: url("../img/index/wkx5dsRzJe.jpg") no-repeat center;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li:nth-child(3) a{
  background: url("../img/index/GAAnCHdDZn.jpg") no-repeat center;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li:nth-child(4) a{
  background: url("../img/index/kaEDWmdr8k.png") no-repeat center;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li:nth-child(5) a{
  background: url("../img/index/Ghan7EmQy2.jpg") no-repeat center;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li:nth-child(6) a{
  background: url("../img/index/8C6ns5jCcW.png") no-repeat center;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li:nth-child(7) a{
  background: url("../img/index/QHX76ZdDDp.png") no-repeat center;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li:nth-child(8) a{
  background: url("../img/index/k57452D3iF.png") no-repeat center;
}
.index_product_groub .old_groub_pro .old_pro_list .list_border ul li:nth-child(9) a{
  background: url("../img/index/ntesJCXPE5.png") no-repeat center;
}
/* 特惠产品专区 */
.index_cheap_bg{
  background-color:#fff;
}
.index_cheap_bg .index_cheap_product{
  width:1190px;
  height:auto;
  margin:0 auto;
  background-color:#f6f6f6;
  overflow: hidden;
}
/* 特惠产品块 */
.index_cheap_bg .index_cheap_product .cheap_product_list{
  width:100%;
  height:auto;
  border-bottom: 40px solid #fff;
}
  /* 上特惠的头部 */
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_top{
  width:100%;
  height:72px;
  background-color:#fff;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_top .title{
  width:180px;
  height:72px;
  line-height: 72px;
  float: left;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_top .title h3{
  font-size: 20px;
  color:#333;
  font-weight: 500px;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_top .nav{
  max-width:800px;
  height:25px;
  float: right;
  overflow: hidden;
  padding-top:30px;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_top .nav::before{
  contain: "";
  display: table;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_top .nav::after{
  content:"";
  display: block;
  clear:none;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_top .nav li{
  position: relative;
  color:#cc3341;
  font-size: 14px;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_top .nav li::before{
  position: absolute;
  content:"";
  top:24px;
  left:0px;
  height:1px;
  width:100%;
  background-color:#cc2e36;
}
/* 上特惠的主体部分 */
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main{
  width:100%;
  height:540px;
  background-color:#fff;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main .list_tehui{
  position: absolute;
  width:1190px;
  max-height: 540px;
  overflow: hidden;
  border-left:1px solid #f6f6f6;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main .list_tehui::before{
  content:"";
  display: table;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main .list_tehui::after{
  content: "";
  display: block;
  clear:both;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main .list_tehui li{
  width:238px;
  height:270px;
  float: left;
  box-sizing: border-box;
  border:1px solid #f6f6f6;
  text-align: center;
  position: relative;
  padding: 0 16px;
  border-left:none;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main .list_tehui li a .img{
  width:120px;
  text-align: center;
  overflow: hidden;
  padding-top:30px;
  margin:0 auto ;
  transition: all 0.5s;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main .list_tehui li a .img:hover{
  transform:scale(1.1)
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main .list_tehui li a .img img{
  display: inline-block;
  width:120px;
  height:120px;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main .list_tehui li a .text{
  margin-top:40px;
  line-height: 30px;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main .list_tehui li a .text p{
  color:#333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.index_cheap_bg .index_cheap_product .cheap_product_list .cheap_list_main .list_tehui li a .text span{
  color:#cc3341;
  font-size: 16px;
}
/* 茅台特惠专区 */
.index_cheap_bg .index_cheap_product .cheap_maotai_list{
  width:100%;
  height:auto;
  border-bottom: 40px solid #fff;
}
  /* 茅台特惠专区的头部 */
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_top{
  width:100%;
  height:60px;
  background-color:#fff;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_top .title{
  width:180px;
  height:60px;
  line-height: 60px;
  float: left;
  padding-left: 16px;
  position: relative;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_top .title h3{
  font-size: 20px;
  color:#333;
  font-weight: 500;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_top .title::before{
  content: "";
  width:6px;
  height:21px;
  background-color:#cc3341;
  position: absolute;
  top:20px;
  left:0px;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_top .nav{
  max-width:800px;
  height:19px;
  float:right;
  overflow: hidden;
  padding-top:23px;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_top .nav li{
  float: left;
  padding-right:10px;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_top .nav li a{
  padding:0 5px;
  color:#333;
}
  /* 茅台特惠专区的主体 */
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main{
  width:100%;
  height:540px;
  background-color:#fff;
  overflow: hidden;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main .left{
  width:238px;
  float: left;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main .left img{
  width:238px;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main .right{
  width:952px;
  height:540px;
  overflow: hidden;
  float: right;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main .right ul li{
  width:238px;
  height:270px;
  float: left;
  box-sizing: border-box;
  border:1px solid #f6f6f6;
  text-align: center;
  position: relative;
  padding: 0 16px;
  border-left:none;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main .right ul li a .img{
  width:120px;
  height:120px;
  text-align: center;
  overflow: hidden;
  padding-top:30px;
  margin:0 auto ;
  transition: all 0.5s;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main .right ul li a .img:hover{
  transform: scale(1.1)
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main .right ul li a .img img{
  width:100%;
  height:100%;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main .right ul li a .text{
  margin-top:40px;
  line-height: 30px;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main .right ul li a .text p{
  color:#333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.index_cheap_bg .index_cheap_product .cheap_maotai_list .maotai_list_main .right ul li a .text span{
  color:#cc3341;
  font-size: 16px;
}
/* 七个楼层的样式 */
.index_floors_pro{
  width:1190px;
  height:auto;
  margin:0 auto;
  background-color:#f6f6f6;
  overflow: hidden;
}
/* 楼层的样式 */
.index_floors_pro .floor_pro_sum{
  width:100%;
  height:auto;
  float: left;
}
  /* 楼层头部导航 */
.index_floors_pro .floor_pro_sum .floor_sum_top{
  width:100%;
  height:60px;
  padding-top:10px;
  background-color:#f6f6f6;
}
.index_floors_pro .floor_pro_sum .floor_sum_top .title{
  width:160px;
  height:60px;
  line-height: 60px;
  float: left;
  padding-left: 16px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.index_floors_pro .floor_pro_sum .floor_sum_top .title h3{
  font-size: 20px;
  color:#5eb6c2;
  font-weight: 500;
}
.index_floors_pro .floor_pro_sum .floor_sum_top .title::before{
  content: "";
  width:6px;
  height:21px;
  background-color:#5eb6c2;
  position: absolute;
  top:20px;
  left:0px;
}
.index_floors_pro .floor_pro_sum .floor_sum_top .nav{
  max-width:800px;
  height:19px;
  float:right;
  overflow: hidden;
  padding-top:23px;
}
.index_floors_pro .floor_pro_sum .floor_sum_top .nav li{
  float: left;
  padding-right:10px;
}
.index_floors_pro .floor_pro_sum .floor_sum_top .nav li a{
  padding:0 5px;
  color:#333;
}
 /* 楼层主体 图片部分 */
.index_floors_pro .floor_pro_sum .floor_sum_main{
  width:100%;
  height:300px;
  float:left;
}
.index_floors_pro .floor_pro_sum .floor_sum_main .big_pic{
  float: left;
  margin-right: 10px;
}
.index_floors_pro .floor_pro_sum .floor_sum_main .big_pic a .img{
  width:230px;
  height:292px;
  text-align: center;
  overflow:hidden;
  transition:all 0.3s linear;
}
.index_floors_pro .floor_pro_sum .floor_sum_main .big_pic a .img img{
  width:230px;
  height:292px;
  margin-right:10px;
}
.index_floors_pro .floor_pro_sum .floor_sum_main .small_pic{
  width:230px;
  height:292px;
  float: left;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  padding:0 16px;
  background-color:#fff;
  transition:all 0.3s linear;
  margin-right:10px;
}
.index_floors_pro .floor_pro_sum .floor_sum_main .small_pic a .img{
  width:120px;
  height:120px;
  text-align: center;
  margin:40px auto 20px;
  overflow: hidden;
  transition: all 0.5s;
}
.index_floors_pro .floor_pro_sum .floor_sum_main .small_pic a .img img{
  width:120px;
  height:120px;
}
.index_floors_pro .floor_pro_sum .floor_sum_main .small_pic a .text{
  margin-top:45px;
}
.index_floors_pro .floor_pro_sum .floor_sum_main .small_pic a .text p{
  font-size: 12px;
  color:#666;
  margin-top:6px;
  overflow: hidden;
  text-overflow: ellipsis;
  height:18px;
}
.index_floors_pro .floor_pro_sum .floor_sum_main .small_pic a .text span{
  display: block;
  margin-top:8px;
  color:#cc3341;
  font-size: 16px;
}
.index_floors_pro .floor_pro_sum .floor_sum_main .big_pic a .img:hover,.index_floors_pro .floor_pro_sum .floor_sum_main .small_pic:hover{
  box-shadow: 0 5px 6px rgba(0,0,0,0.1);
  transform:translate3d(0,-2px,0);
}
.index_floors_pro .floor_pro_sum .floor_sum_main .small_pic a .img:hover{
  transform: scale(1.1);
}
.index_floors_pro .floor_pro_sum .floor_sum_main .small_pic:last-child{
  margin-right:0;
}
/* 修改楼层的标题颜色 */
.index_floors_pro .floor_pro_sum:first-child .floor_sum_top .title h3{
  color:#47a274;
}
.index_floors_pro .floor_pro_sum:first-child .floor_sum_top .title::before{
  background-color:#47a274;
}
.index_floors_pro .floor_pro_sum:nth-child(2) .floor_sum_top .title h3{
  color:#e946b9;
}
.index_floors_pro .floor_pro_sum:nth-child(2) .floor_sum_top .title::before{
  background-color:#e946b9;
}
/* 底部服务部分 */
.index_footer_bg{
  background-color:#fff;
}
.index_footer_bg .index_footer_fuwu{
  width:1190px;
  height:auto;
  overflow: hidden;
  margin:0 auto ;
  background: #f6f6f6;
}
/* 底部服务的头部 */
.index_footer_bg .index_footer_fuwu .footer_fuwu_top{
  width:100%;
  height:98px;
  line-height:98px;
  background-color:#fff;
  margin:0 auto;
  color:#333;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_top ul li{
  width:25%;
  padding-left: 70px;
  box-sizing: border-box;
  float: left;
  position: relative;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_top ul li div{
  float: left;
  line-height: 73px;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_top ul li div img{
  width:24px;
  height:24px;
  margin-top:38px;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_top ul li span{
  display: block;
  float: left;
  margin-left:10px;
  font-size: 14px;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_top ul li::after{
  content:"";
  display: block;
  clear: both;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_top ul li:not(:last-child)::after{
  content:"";
  position: absolute;
  top:34px;
  right:0px;
  background-color: #ebebeb;
  width:1px;
  height:34px;
}
  /* 底部服务的下部分内容*/
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav{
  width:100%;
  height:120px;
  border-top:1px solid #f6f6f6;
  background-color:#fff;
  clear:both;
  padding:30px 0px;
  margin:0 auto;
  position: relative;
}
  /* 底部服务的下部分内容 左侧部分 */
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_left{
  float: left;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_left .main{
  width:179px;
  height:120px;
  float: left;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_left .main h3{
  height:40px;
  line-height: 20px;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_left .main h3 a{
  font-size: 14px;
  color:#333;
  font-weight: 500;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_left .main ul{
  width:200px;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_left .main ul li{
  line-height: 25px;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_left .main ul li a{
  color:#999999;
}
  /* 底部服务的下部分内容 右侧部分 */
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_right{
  width:294px;
  float: left;
  text-align: center;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_right p{
  font-size: 16px;
  color:#cc3341;
  margin-bottom: 3px;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_right span{
  color:#666;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_right div{
  margin:10px 0 13px;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav .footer_post_right div a{
  display: inline-block;
  width:122px;
  height:30px;
  border:1px solid #cc2e36;
  line-height: 32px;
  color:#cc3341;
  padding-left: 22px;
  background:url("../img/online.png") no-repeat 24px;
  background-size: 14px;
}
.index_footer_bg .index_footer_fuwu .footer_fuwu_nav::after{
  content:"";
  display: block;
  clear: both;
  position: absolute;
  top:30px;
  right:294px;
  background-color: #999999;
  width:1px;
  height:121px;
}