/* 无内容页面 */
.nos_section{
  width:100%;
  background-color:#f6f6f6;
  border-bottom: 1px solid #ebebeb;
}
.nos_section .one{
  width:1190px;
  background-color:#fff;
  margin:0 auto;
}
.nos_section .one .two{
  margin:0 auto ;
  padding:100px 0px;
  box-sizing: border-box;
  width:190px;
  height:304px;
  text-align: center;
  background:#fff; 
}
.nos_section .one .two img{
  width:82px;
  height:82px;
}
.nos_section .one .two p{
  color:#999999;
}
.nos_section .one .two:hover{
  cursor: pointer;
}
.nos_section .one .two:active p{
  display: none;
}