<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>怀海商城</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngIf="key">
  <!-- myList 的数组长度为0 -->
  <div *ngIf="myList.length==0" style="text-align: center" >
    <img src="../../assets/imgs/404_img2.png" alt=""  style="width:100px;height:100px" >
    <h1>购物车是空的!!!</h1>
    <button ion-button color="secondary" block (click)="jumpIndex()">进去再逛逛</button>
  </div>
  <!-- myList 的数组长度大于0 -->
  <ion-list>
    <ion-item-sliding *ngFor="let tmp of myList">
    <ion-item >
      <ion-checkbox item-start [(ngModel)]="tmp.isChecked" (ngModelChange)="operateSingle($event,tmp.cid)"></ion-checkbox>
      <ion-thumbnail item-end>
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <img [src]="'http://127.0.0.1:8080/'+tmp.sm" alt="">
            </ion-col>
            <ion-col>
              <h4>{{tmp.pname}}</h4>
              <p style="color:#cc3341">{{tmp.price | currency:'CNY'}}</p>
              <!-- 绑定单击事件 -->
              <button ion-button clear (click)="clickBtn('-',tmp.cid,tmp.count)">-</button> 
              <span>{{tmp.count}}</span>
              <button ion-button clear  (click)="clickBtn('+',tmp.cid,tmp.count)">+</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="right">
	    <button ion-button color="danger" (click)="delCartItem(tmp.cid)">删除</button>
   </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ng-container>
</ion-content>
<!-- 全选 结算-->

<ion-footer >   
  <ion-grid >
    <ion-row align-items-center >
      <ion-col col-2 style="text-align: center">
        <ion-checkbox [(ngModel)]="isAllSelected" (ngModelChange)="operateAll()"></ion-checkbox>
      </ion-col>
      <ion-col>
        全选 金额{{caleAll() | currency:'CNY'}}
      </ion-col>
      <ion-col>
        <button ion-button color="danger" block (click)="jumpPay()">去结算</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

